{% extends 'base.html' %}
{% load static %}

{% block title %}Definitive | {{ title }}{% endblock %}

{% block page_style %}
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
<div class="content w3-padding-top-24">

  <div class="ranklist-header w3-padding w3-container w3-center">
    {{ title }}
  </div>

  <div class="ranklist w3-container w3-border w3-border-purple" style="margin:auto;">

    {# -- header row -- #}

    {# -- item rows -- #}

    {% for item in items %}
    <div class="w3-row w3-cell-row w3-padding-24 w3-border-bottom w3-border-purple">
      <div class="rank w3-container w3-cell w3-cell-middle w3-center">
        {{ item.rank }}
      </div>
      <div class="item-image w3-container w3-cell w3-cell-middle w3-center">
        <img src="{{ item.obj.image.url }}" class="w3-image">
      </div>
      <div class="item-label w3-cell w3-cell-middle w3-center">
        {{ item.obj.label }}
      </div>
      <div class="w3-row w3-cell w3-cell-row w3-cell-middle">
        <div class="item-score w3-third w3-cell w3-cell-middle w3-center">
          <div class="cell-label">score</div>
        {{ item.score|floatformat:"0" }}
        </div>
        <div class="item-record w3-third w3-cell w3-cell-middle w3-center">
          <div class="cell-label">wins</div>
          {{ item.wins }}
        </div>
        <div class="item-record w3-third w3-cell w3-cell-middle w3-center">
          <div class="cell-label">losses</div>
          {{ item.losses }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}