{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  {% block base_style %}{% endblock %}
  {% block app_style %}{% endblock %}
  {% block page_style %}{% endblock %}
  <title>{% block title %}Definitive{% endblock %}</title>
</head>

<body>
{% block navbar %}
  {% include 'components/navbar.html' %}
{% endblock %}
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>