{% extends 'base.html' %}

{% block page_style %}
  <style>
  table { height: 1px; } /* Will be ignored, don't worry. */
  tr { height: 100%; }
  td { height: 100%; }
  td > div { height: 100%; }
  </style>
{% endblock %}

{% block content %}
<div class="content w3-padding-top-24" style="margin-top:54px;">
  <table class="w3-table-all w3-padding-top-24" style="margin:auto; max-width:992px;">
    <thead>
      <th>Rank</th>
      <th>Item</th>
      <th>Score</th>
      <th>Wins</th>
      <th>Losses</th>
    </thead>
    {% for item in items %}
      <tr>
        <td>
          <div class="rank w3-cell w3-padding w3-cell-middle" >
            {{ item.rank }}
          </div>
        </td>
        <td>
          <div class="w3-cell w3-cell-middle">
            <img src="{{ item.obj.image.url }}" class="w3-image" style="max-height:250px; margin:auto;">
          </div>
        </td>
        <td>
          <div class="score w3-cell w3-padding w3-cell-middle" >
            124.5
          </div>
        </td>
        <td>
          <div class="wins w3-cell w3-padding w3-cell-middle" >
            124.5
          </div>
        </td>
        <td>
          <div class="losses w3-cell w3-padding w3-cell-middle" >
            124.5
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}